* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eef2f7;
  color: #000000;
  line-height: 1.6;
}


header {
  background: linear-gradient(135deg, #538fe2, #021933);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  flex-wrap: wrap;
  gap: 20px;
}

main {
    background: linear-gradient(135deg, #021c41);
    justify-content: space-between;
    padding: 18px 40px;
}